<div class='row'>
  <div class="col">
  </div>
  <div class="col">
    <% @all_bills.each do |bill| %>
      <% y = bill[:link].match(/bills\/(.*).json/)[1] %>
      <div class="card bg-dark text-white">
        <div class="card-header text-center">
          <a href="/bills/<%= y %>"><%= bill[:number] %></a>
        </div>
        <div class="card-body text-center">
          <p><%= bill[:title] %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col">
  </div>
</div>
